div.forget-password
  div.main-title
    h2.title Esqueci minha senha
    div.title-divisor
  form.form(novalidate, name="resetPasswordForm", data-ng-submit="resetPassword()")
    div.inputcontainer_full
      input.inputtext_default(type="email",
                              name="email",
                              data-ng-model="email",
                              placeholder="Email",
                              data-mask="+",
                              data-mask-validate="false",
                              data-mask-clean="true",
                              data-mask-restrict="reject",
                              data-mask-repeat="100",
                              minlength="5",
                              required)
      div.messages-container(data-ng-messages="resetPasswordForm.email.$error",
                                       data-ng-if="resetPasswordForm.email.$touched && !submitted")
        div(ng-messages-include="partials/main/messages-validation")
    div.submit
      input.inputsubmit(type="submit",
                        value="Redefinir senha",
                        data-ng-disabled="resetPasswordForm.$invalid",
                        data-ng-class="{'inputsubmit_disabled': resetPasswordForm.$invalid}")

show-message(data-show="message.show",
             data-nivel="message.nivel",
             data-text="message.text")