div.reset-password
  div.main-title
    h2.title Nova senha
    div.title-divisor
  form.form(novalidate, name="resetPasswordForm", data-ng-submit="resetPassword(user)")
    div.inputcontainer_full(data-ng-if="passwordHide")
      svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
        use(xlink:href="/build/images/default/layout/icons.svg#icon-eye-visibility")
      input.inputtext_default(type="password",
                              name="password",
                              data-ng-model="user.password",
                              placeholder="Nova senha",
                              maxlength="20",
                              minlength="5",
                              required)
      div.messages-container(data-ng-messages="resetPasswordForm.password.$error",
                             data-ng-if="resetPasswordForm.password.$touched && !submitted")
        div(ng-messages-include="partials/main/messages-validation")

    div.inputcontainer_full(data-ng-if="!passwordHide")
      svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
        use(xlink:href="/build/images/default/layout/icons.svg#icon-visibility-off")
      input.inputtext_default(type="text",
                              name="password",
                              data-ng-model="user.password",
                              placeholder="Nova senha",
                              maxlength="20",
                              minlength="6",
                              required)
      div.messages-container(data-ng-messages="resetPasswordForm.password.$error",
                             data-ng-if="resetPasswordForm.password.$touched && !submitted")
    div.submit
      input.inputsubmit(type="submit",
                        value="Salvar nova senha",
                        data-ng-disabled="resetPasswordForm.$invalid",
                        data-ng-class="{'inputsubmit_disabled': resetPasswordForm.$invalid}")

show-message(data-show="message.show",
             data-nivel="message.nivel",
             data-text="message.text")