form.form-register(novalidate, name="registerForm", data-ng-submit="save(user)")
  div.title Dados pessoais
  div.inputcontainer_middle
    label(for="name") Nome Completo
    input.inputtext_default(type="text",
                            name="name",
                            data-ng-model="user.name",
                            placeholder="Ex: João da Silva",
                            data-mask="~",
                            data-mask-validate="false",
                            data-mask-clean="true",
                            data-mask-restrict="reject",
                            data-mask-repeat="100",
                            minlength="5",
                            required)
    div.messages-container(data-ng-messages="registerForm.name.$error",
                           data-ng-if="registerForm.name.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")
  div.inputcontainer_middle
    label(for="email") E-mail
    input.inputtext_default(type="email",
                            name="email",
                            data-ng-model="user.email",
                            placeholder="Ex: joao.silva@contato.com",
                            data-mask="+",
                            data-mask-validate="false",
                            data-mask-clean="true",
                            data-mask-restrict="reject",
                            data-mask-repeat="100",
                            data-emailexists
                            minlength="5",
                            required)
    div.messages-container(data-ng-messages="registerForm.email.$error",
                           data-ng-if="registerForm.email.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")


  div.inputcontainer_middle
    label(for="cell") Celular
    input.inputtext_default(type="text",
                            name="cell",
                            data-ng-model="user.cell",
                            placeholder="(00) 00000-0000",
                            data-mask="(99) 99999-9999",
                            data-mask-validate="false",
                            data-mask-clean="true",
                            data-mask-restrict="reject",
                            minlength="15",
                            required)
    div.messages-container(data-ng-messages="registerForm.cell.$error",
                           data-ng-if="registerForm.cell.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")


  div.inputcontainer_middle
    label(for="city") Cidade
    input.inputtext_default(type="text",
                            name="city",
                            data-ng-model="user.city",
                            placeholder="Ex: São Paulo",
                            data-mask="~",
                            data-mask-validate="false",
                            data-mask-clean="true",
                            data-mask-restrict="reject",
                            data-mask-repeat="50",
                            minlength="5",
                            required)
    div.messages-container(data-ng-messages="registerForm.city.$error",
                           data-ng-if="registerForm.city.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")

  div.inputcontainer_middle
    label(for="username") Nome de usuário
    input.inputtext_default(type="text",
                            name="username",
                            data-ng-model="user.username",
                            placeholder="Ex: usuario",
                            data-mask="~",
                            data-mask-validate="false",
                            data-mask-clean="true",
                            data-mask-restrict="reject",
                            data-mask-repeat="50",
                            minlength="5",
                            usernameexists,
                            required)
    div.messages-container(data-ng-messages="registerForm.username.$error",
                           data-ng-if="registerForm.username.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")

  div.inputcontainer_middle(data-ng-if="passwordHide")
    label(for="password") Senha
    svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
      use(xlink:href="/build/images/default/layout/icons.svg#icon-eye-visibility")
    input.inputtext_default(type="password",
                            name="password",
                            data-ng-model="user.password",
                            placeholder="Sua senha não será exibida",
                            maxlength="20",
                            minlength="5",
                            required)
    div.messages-container(data-ng-messages="registerForm.password.$error",
                           data-ng-if="registerForm.password.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")

  div.inputcontainer_middle(data-ng-if="!passwordHide")
    label(for="password") Senha
    svg.icon(viewBox="0 0 48 48", data-ng-click="passwordToggle()")
      use(xlink:href="/build/images/default/layout/icons.svg#icon-visibility-off")
    input.inputtext_default(type="text",
                            name="password",
                            data-ng-model="user.password",
                            placeholder="Sua senha será exibida",
                            maxlength="20",
                            minlength="6",
                            required)
    div.messages-container(data-ng-messages="registerForm.password.$error",
                           data-ng-if="registerForm.password.$touched && !submitted")
      div(ng-messages-include="partials/main/messages-validation")

  div.button
    input.inputsubmit(type="submit",
                      value="Cadastrar"
                      data-ng-disabled="registerForm.$invalid",
                      data-ng-class="{'inputsubmit_disabled': registerForm.$invalid}")