div.combo-box
  div.messages-container(data-ng-show="showMessage")
    p.messages_invalid Preencha o campo

  div.container
    input#input-filter.inputhidden(type="text",
                                   data-ng-model="inputFilter",
                                   data-ng-keyup="search($event)",
                                   data-ng-focus="focus()",
                                   data-ng-blur ="blur()")

    input#input-validate.inputhidden(type="text",
                                     tabindex="-1"
                                     data-ng-attr-name="{{name}}",
                                     data-ng-model="inputValidate",
                                     required)

    div.item._selected(data-ng-click="toggle()",
                       data-ng-class="{'_notfilled': !filled()}") {{model}}
    div.options(data-ng-show="showOptions")
      div.item(data-ng-repeat="option in options",
               data-option-selected="option",
               data-ng-click="select(option)") {{option}}

    svg.icon(viewBox="0 0 48 48",
             data-ng-show="!showOptions",
             data-ng-click="toggle()",)
      use(xlink:href="/build/images/default/layout/icons.svg#icon-arrow-down")
    svg.icon(viewBox="0 0 48 48",
             data-ng-show="showOptions",
             data-ng-click="toggle()")
      use(xlink:href="/build/images/default/layout/icons.svg#icon-arrow-up")

